<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add" href="/app/add">
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/app/home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="currency" href="/app/currency">
      <ion-icon name="shield-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="analytics" href="/app/analytics">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
